body{
    font-family: 'Franklin Gothic Medium';
    font: larger;
    background-color: rgb(171, 16, 16);
    color: black;
}

h1{
    background-color: black;
    color: azure;
}

img{
    width: 500px;
    height: 600px;
}

div{
    margin: auto;
}

.wrap{
    display: flex;
}

.inside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{

}